<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>LoginUsr</servlet-name>
    <servlet-class>misServlets.LoginUsr</servlet-class>
    <init-param>
      <param-name>usuario1</param-name>
      <param-value>clave123</param-value>
    </init-param>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturar</servlet-name>
    <url-pattern>/Facturar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TerminarSesion</servlet-name>
    <url-pattern>/TerminarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Productos</servlet-name>
    <servlet-class>misServlets.Productos</servlet-class>
    <init-param>
      <param-name>cantidad</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>Chicle</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>Chocolate</param-name>
      <param-value>25</param-value>
    </init-param>
    <init-param>
      <param-name>Caramelo</param-name>
      <param-value>15</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
</web-app>
